body {
  margin: 0;
  font-family: Arial;
  background: #f4f4f4;
}

header,
footer {
  text-align: center;
  padding: 20px;
}

main {
  width: 80%;
  margin: auto;
}

.card {
  background: white;
  padding: 20px;
  margin: 20px 0;
  border-radius: 10px;
  box-shadow: 0 0 10px #ddd;
}